<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>가수 로그인</title>
<link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet"/>
<link rel="stylesheet" th:href="@{css/logincss.css}" />
<script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>

</head>
<body>
	<div th:replace="~{fragments/header :: header}">Header</div>
	
		<form th:action="@{/login}" method="post">
			<div class="container" id="container">
				<div>
					<label> 아이디: 
						<input type="text" name="id" />
					</label>
				</div>
				<div>
					<label> 패쓰워드: 
						<input type="password" name="password" />
					</label>
				</div>
				<div>
					<input type="submit" value="로그인"/>
					<input type="button" value="회원가입" onclick="location.href='/join'">
				</div>
			</div>
		</form>
		
	<div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>